{% extends 'base.html.twig' %}

{% block body %}
    <div class="jumbotron">
        <h2>{{ 'link.ready'|trans }}</h2>
        <a href="{{ url('redirect', {'token': token}) }}" target="_blank">
            {{ url('redirect', {'token': token}) }}
        </a>
    </div>
{% endblock %}
